:root {
    --main-blue: #00C0FF;
    --main-blue-dark: #0084B0;
    --border-width: 5px;
    --panel-color: #999;
}

@font-face {
    font-family: Verdana;
    src: url("fonts/Verdana.ttf");
}

html {
    font-family: Verdana;
}

body {
    background-color: var(--main-blue-dark);
    min-height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.w {
    border: solid;
    border-width: 18px 18px 18px 18px;
    border-image: url(img/border.png) 18 stretch;
    background-color: var(--panel-color);
    min-height: 1px;
    min-width: 1px;
}

.wc {
    margin: -13px -14px -14px -13px;
}

.wc * {
    margin-bottom: -1.5px;
}

.wt + .wc {
    margin-top: 0px;
}

.wt + .wc * {
    margin-top: -1px;
}

.wt {
    background-image: url("img/titlebar.png");
    height: 14px;
    position: relative;
    top: -1px;
    left: -1px;
    font-size: 10px;
    text-align: center;
    margin: -13px -16px -1px -13px;
    padding-right: 40px;
}

.wt::before {
    background-image: url(img/titlebarL.png);
    content: "";
    display: block;
    float: left;
    height: 14px;
    left: 0px;
    margin-right: 10px;
    top: 0px;
    width: 14px;
}

.wt::after {
    background-image: url(img/titlebarR.png);
    content: "";
    display: block;
    float: right;
    height: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 29px;
}

.panel {
    border: 1px solid;
    background-color: var(--panel-color);
    border-image: url("img/panel.png") 1 stretch;
    text-decoration: none;
    color: black;
}